<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="sv"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="sv"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="sv"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="sv"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="sv">
<!--<![endif]-->
<head>
<link href="/static/styles/model_view_se.css" rel="stylesheet">
</head>

<body>
  <div>
    <label for="pbtmodelwindow" title="Report accessibility problem - PBT demo" class="pbtimgbutton">
      <img alt="Public barrier tracker icon" class="full_page" src="/static/images/Sweden-government.png"></img>
    </label><input type="checkbox" id="pbtmodelwindow"></input>
    <div class="pbtmodal" id="pbtmodelwindow">
      <label title="Close window" for="pbtmodelwindow" class="closebtn">Close: <div class="close_x">X</div></label>
      <iframe title="Feedback on accessibility problem - Public barrier tracker" id="windowframe" src="/report_issue/" class="epbt_frame"></iframe>
    </div>
    <a class="pbthidden" target="_blank" href="http://178.79.181.86/">Report a problem with accessibility</a>
  </div>
</body>
</html>
