{% extends "base_site.html" %}
{% load i18n %}
{% load static %}
{% block custom_css %}{% endblock %}
{% block extra_header_controls %}
<div class="header">
  <h1>Accessibility Statement</h1>
</div>
{% endblock %}
{% block main_content %}
<p>This statement is a placeholder and will contain the following items for each website</p>
<ul>
<li><p>an explanation concerning those parts of the content that are not accessible, and the reasons for that inaccessibility and, where appropriate, the accessible alternatives provided for;</p></li>
<li><p>a description of, and a link to, a feedback mechanism enabling any person to notify the public sector body concerned of any failure of its website or mobile application to comply with the accessibility requirements set out in Article 4 and to request the information excluded pursuant to Article 1(4) and Article 5; and, </p></li>
<li><p><a href="/enforcement_procedure/">Enforcement Procedure</a></p> </li>
</ul>
{% endblock %}
