{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Public Barrier Form" %}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'report_style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'model_window.css' %}" />
{% endblock %}
{% block main_content %}
<div class="">
  <h3>Accessibility Feedback</h3>
  <form method="POST">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
      {{ form.what_went_wrong.errors }}
      <label for="{{ form.what_went_wrong.id_for_label }}">Please discribe the accessibility problem you encountered.</label><br>
      {{ form.what_went_wrong }}
    </div>
    <div class="fieldWrapper checkBoxDiv">
      {{ form.automatic_information_included.errors }}
      {{ form.automatic_information_included }}
      <label for="{{ form.automatic_information_included.id_for_label }}">I want to send automatically collected info</label>
      <a title="Find out more about the automatically collected information" target="_blank" href="/find_out_more/">Find out more</a>
    </div>
    <a title="Return to start" href="/start_report/?{{url_params}}" class="return_link back_button" title="Go back to start"><button type="button">Back</button></a> 
    <button type="submit" title="Send in the barrier report">Send</button>
    <div>
      {{ form.issue_level.errors }}
      {{ form.issue_level }}
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
