{% extends "base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Public Barrier Traker - Privecy Statement" %}{% endblock %}
{% block custom_css %}{% endblock %}
{% block extra_header_controls %}
<div class="header">
  <h1>Public Barrier Tracker Privacy Statement</h1>
</div>
{% endblock %}
{% block main_content %}
<div>
 <h2>1. Scope </h2>
 <p>All data subjects whose personal data is collected, in line with the requirements of the <a href="http://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX:32016R0679">GDPR</a>.</p>
 <p>Data processing: Any collected personal data is stored and used to monitor complaints and feedback that are registered via the Public Barrier Tracker (PBT) tool. The personal data will not be shared with any third party, unless obliged by law.</p>
 <p>Data collection: PBT stores information about a user’s experience, and on the configuration users’s  when he/she wants to report a web accessibility barrier. The PBT is provided to implement the feedback mechanism as defined in the EU’s <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32016L2102">Web Accessibility Directive</a>. The pieces of information that are collected are listed below. The PBT will store data on the types of barriers and their fixes to develop statistics on trends. Please note that the stored information does not include any information to identify individual users.</p>
 <h2>2. Responsibilities</h2>
 <p>PBT (currently the <a href="https://box.tingtun.no/f/2fbde28ed2804ba6bbeb/">project consortium</a>) is responsible for ensuring that this notice is made available to data subjects prior to collecting or processing any personal data. <a href="https://www.tingtun.no/">Tingtun AS</a> is responsible for the technical implementation of the PBT.</p>
 <h2>3. Privacy notice</h2>
 <p>The PBT is a service that allows users of public sector websites to report any barriers encountered when trying to access services. The PBT will store data about the barrier and notify the website owner about it. A user can also choose to provide his or her email) to receive notifications about changes to the barrier. PBT will only function as a data collector. Personal data will not be processed or shared with a third party.</p>
 <p>For questions about our privacy statement please use our <a href="http://www.tingtun.no/contact">contact form</a></p>
 <h3>3.1 Personal Data collected</h3>   
 <p>The data we can collect are the following:</p>
 <table>
  <tr>
    <th>Data</th>
    <th>Data usage purposes</th>
    <th>Length of storage</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>We will use this to ensure we are speaking to the correct person.</td>
    <td>12 months</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>We will use this to notify users of progress in fixing barriers</td>
    <td>12 months</td>
  </tr>
    <tr>
    <td>Barrier information</td>
    <td>We will use this to notify the website owner of barriers on their website</td>
    <td>10 years</td>
  </tr>
  <tr>
    <td>Time stamp of enquiry</td>
    <td>We will use this to monitor how long it takes to fix barriers</td>
    <td>12 months</td>
  </tr>
  <tr>
    <td>Part of the IP address</td>
    <td>We will use this for statistics about the filed issues.</td>
    <td>12 months</td>
  </tr>
  <tr>
    <td>Click stream</td>
    <td>We will use this to understand the steps the user need to take to reproduce a barrier.</td>
    <td>12 months</td>
  </tr>
  <tr>
    <td>Client software and settings</td>
    <td>We will use this to reproduce the barrier and  understand what may have caused it</td>
    <td>12 months</td>
  </tr>
  <tr>
    <td>Consent to be contacted in the future about a reported barrier</td>
    <td>We may use the information to contact you in the future and only contact you by the methods you chose.</td>
    <td>12 months unless you have chosen to store longer</td>
  </tr>
 </table>
 <p>The data PBT collects will be used for the following purposes:</p>
 <ul>
  <li>Repair accessibility barriers.</li>
  <li>Monitor complaints/feedback.</li>
  <li>Aggregate and study accessibility barriers and fixes over time. The personal data will be filtered away from the data on barriers.</li>
  <li>If you consented to be contacted in the future, we will only contact you on your preferred method with information about the work we are doing with respect to web accessibility. </li>
 </ul>
 <p>Legal basis for processing data:
The legal basis of data processing is grounded in Article 6 of the GDPR. The basis is grounded in the data necessary to process the barrier report.</p>
 <h3>3.2 Consent</h3>
 <p>By consenting to this privacy notice you are giving us permission to process your personal data specifically for the purposes identified.</p>
 <p>Consent is required for PBT to process personal data, but it must be explicitly given. You may withdraw consent at any time by going to the opt out page on our website where you can do this via a contact form, which is found here.</p>
 <h3>3.3 Disclosure</h3>
 <p>We will not share your personal data with third parties without first getting your explicit consent. Personal data may be shared if required by law.</p>
 <h3>3.4 Retention period</h3>
 <p>We will store personal data for 12 months as a default or the length of any agreement we have in place to manage a service we provide. If you choose to remove consent after it has been given, we will destroy your details. We will retain pseudonymised data for 5 years as this will allow us to track opportunities, challenges and trends in web accessibility over time.</p>
 <h3>3.5 Your rights as a data subject</h3>
 <p>At any point while we are in possession of or processing your personal data, you, the data subject, have the following rights:</p>
 <ul>
  <li>Right of access: you have the right to request a copy of the information that we hold about you.</li>
  <li>Right of rectification: you have a right to correct data that we hold about you that is inaccurate or incomplete.</li>
  <li>Right to be forgotten: in certain circumstances you can ask for the data we hold about you to be erased from our records.</li>
  <li>Right to restriction of processing: where certain conditions apply to have a right to restrict the processing.</li>
  <li>Right of portability: you have the right to have the data we hold about you transferred to another organisation.</li>
  <li>Right to judicial review: in the event that PBT refuses your request under rights of access, we will provide you with a reason as to why. You have the right to complain as outlined in clause 3.6 below.</li>
 </ul>
 <h3>3.6 Complaints</h3>
 <p>In the event that you wish to make a complaint about how your personal data is being processed by PBT, or how your complaint has been handled, you have the right to lodge a complaint directly with the supervisory authority and PBT management.</p>
 <h3>3.7 Cookies</h3>
 <p>PBT does not make use of Cookies. However,
to store your consent we use he local storage of your browser. If you choose not to store your consent, then you will be prompted for your consent for each time you want to report a barrier.</p>
</div>
{% endblock %}
