{% extends "base_site.html" %}
{% load i18n %}
{% load static %}
{% block custom_css %}
{% endblock %}
{% block extra_header_controls %}
<div class="header">
  <h1>Short intro to the Public Barrier Tracker pilot study</h1>
</div>
{% endblock %}
{% block main_content %}
<div class="main_container">
  <p>Accessible web content is crucial to enable participation in the information society.
The <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32016L2102">Web Accessibility Directive (WAD)</a> is implemented from 2018 to assure that public sectors websites are accessible for all, across all European member states.</p>
  <p>A feedback mechanism should be set up to enable any person to notify the public sector body concerned of any failures of the website to comply with the accessibility requirements (See Article 7 of the WAD). </p>
  <p>The Public Barrier Tracker (PBT) has proposed an approach to implement such a feedback mechanism, and explored possible “showstoppers” that could prevent wider deployment.</p>
  <p>The project was co-funded by the Swedish <a href="http://pts.se/">Post and Telecom Authority (PTS)</a>, and carried out in a consortium, led by <a href="http://tingtun.no/">Tingtun</a> with <a href="http://ftb-net.com/">FTB</a> and <a href="http://dakaadvisory.com/">DAKA</a> as partners.</p>
</div>
{% endblock %}
