[uwsgi]
socket = 127.0.0.1:3049
virtualenv = /home/tingtun/pbt-demo/virtualenv

buffer-size = 65535
cheaper-algo = backlog
# Minimum number of workers to keep at all times
cheaper = 5
# If the socket�~@~Ys listen queue has more than cheaper_overload
# requests waiting to be processed, uWSGI will spawn new workers.
# If the backlog is lower it will begin killing processes one at a time.
cheaper_overload = 5
# Number of workers to spawn at start-up
cheaper-initial = 5
# Maximum number of workers to spawn = # of CPUs
workers = 12
# Number of initial processes to spawn
# processes = 3
master = 1
# Logging
#logfile = file:/home/anand/glossary/glossary.log
#req-logger = file:/home/anand/django-wiki/accesswiki/logs/requests.log
# Caching configuration - cache all urlgloxy  requests
#cache2 = name=glosscache,items=500,lastmod=1,store=gloss.cache
# For /css
# cache2 = name=glosscachecss,items=500,lastmod=1,store=glosscss.cache

daemonize=/home/tingtun/pbt-demo/logs/stdout.log
daemonize2=/home/tingtun/pbt-demo/logs/stderr.log

