@media only screen and (min-width: 601px) {
  .closebtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    right: 0;
    margin-right: 0.3em;
  }
}

@media only screen and (max-width: 600px) {
  .closebtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    background: #002e5e;
    width: calc(100% - 0.6em);
    text-align: right;
  }
}

/* Hide */
input[type=checkbox]#pbtmodelwindow {
  opacity:0;
  position:absolute;
}

/* The modal's background */
.pbtmodal {
  display: none;
  z-index: 9001;
  padding: 0.3em;
  background: #002e5e;
  border-radius: 1em;
  border: solid lightgray;
  box-shadow: 5px 10px 5px black;
}

/* Display the modal when checked */
input[type=checkbox]#pbtmodelwindow:checked ~ .pbtmodal {
  display: block;
  position: fixed;
  top:   0%;
  left: 15%;
  width: 70%;

}

.pbtimgbutton:hover {
  color: red;
}

.pbtimgbutton:focus {
  color: red;
}

input[type=checkbox]#pbtmodelwindow:focus ~ .pbtimgbutton {
  color: red;
}

input[type=checkbox]#pbtmodelwindow:hover ~ .pbtimgbutton {
  color: red;
}

#windowframe {
  min-width: 100%;
  min-height: 15em;
  border: none;
  overflow: hidden;
}

.return_link {
  display: none;
}

.closebtn {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  position: absolute;
  color: white;
  right: 0;
  margin-right: 0.3em;
}

.close_x {
  border: solid thin;
  border-radius: 3em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  display: inline;
}

.pbthidden {
  display: none;
}

.pbtimgbutton {
  display: inline;
}

.pbttext {
  color: black;
  display: inline;
  padding: 0.2em;
  background: #ffff66;
  font-size: 24.5px;
  font-weight: bold;
  border: solid;
  border-radius: 0.4em;
  border-color: #808080;
}
.epbt_frame {
  width: 100%;
}
.pbt_button {
  margin: 1em;
}

.button_margin {
  margin: 15em;
}

.tiny_button {
  width: 25px;
}

